.personalData{

  .personalTitle{
    text-align: center;
    padding: 25px 0 25px 0;
    flex-flow: column;
  }

  .personalContact{
    padding: 25px 0  45px 0;
    .contact{
      flex-flow: column;
      margin-bottom: auto;
      .scheduleCont {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        .myData {
          flex-flow: column;
          align-items: flex-start;
          padding-top:5px;
          :before {
            padding-right: 15px;
          }
        }
      }
    }
    .form {
      justify-content: start;
      margin-bottom: auto;
      .contactForm{
        .form-group{
          label{
            padding-top: 0px;
          }
        }
      }
    }
  }
}