.personalData{

  .personalTitle{
    text-align: center;
    padding: 25px 0 25px 0;
    flex-flow: column;
  }

  .personalContact{
    padding: 25px 0  45px 0;
    .contact{
      flex-flow: column;
      margin-bottom: auto;
      padding:0;
      .scheduleCont {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        .myData {
          flex-flow: column;
          align-items: flex-start;
          padding-top:5px;
          i{
            display: flex;
            padding-top: 10px;
          }
          :before {
            padding-right: 15px;
          }
        }
      }
    }
    .form {
      justify-content: space-around;
      margin-bottom: auto;
      padding: 0;
      .contactForm{
        .form-group{
          label{
            padding-top: 0px;
          }
        }
      }
    }
  }
}