@import "global";

footer {
  background-color: #0275d8;
  .footerTxt {
    border-top: 2px solid #8c8b8b;
    text-align: center;
    padding: 15px 0 15px 0;
    flex-flow: column;
    color: white;
  }
  .footer {
    padding: 0 25% 1% 25%;
    flex-flow: row;
    .myMedia{
      display: flex;
      justify-content: center;
      a{
        display: inline-block;
        justify-content: center;
        color: white;
        i:focus, i:hover {
          color: #04092F;
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}