@import "global";

.myLife{
  .aboutMe {
    padding: 25px 0 50px 0;
    flex-flow: column;
    h1{
      text-align: center;
    }
  }
  .partOfLife {
    .newLife {
      height: $percent-height;
      padding: 0 50px 0 50px;
      margin-bottom: auto;
      text-align: center;
      h2{
        text-align: center;
      }
    }
  }
}