.portfolio{
  padding: 0 0 50px 0;
  .portfolioTitle{
    text-align: center;
    padding: 25px 0 25px 0;
    flex-flow: column;
    hr {
      width: 500px;
    }
  }

  .project{
    padding-top: 25px;
    .schedulePr{
      padding: 5px 0 5px 0;
      .img_project{
        width: 70%;
        height: 70%;
      }
      h2{
        text-align: center;
      }
      a{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
}