.portfolio{
  padding: 0 0 50px 0;

  .portfolioTitle{
    text-align: center;
    padding: 25px 0 25px 0;
    flex-flow: column;
  }
  hr{
    width: 500px;
  }

  .project{
    padding-top: 25px;

    .xxx{

      h2{

      }

      a{

        .img_project{

        }
      }
    }
  }
}