.usingTechnology{
  text-align: center;
  padding-bottom: 50px;
  .technologyTitle {
    flex-flow: column;
    padding-bottom: 50px;
    h2 {
      padding: 25px 0 0 0;
    }
  }
  .allTechnology{
    display: flex;
    .place{
      justify-content: space-between;
      p{
        padding: 0 5px 0 5px;
      }
    }
    .technology{

      .techImg {
       width: 128px;
       height: 128px;
      }
    }
  }
}