
$font-stack: Helvetica, sans-serif;
$base-padding: 0;
$base-margin: 0;
$base-width: 100vw;
$base-height: 100vh;
$percent-height: 100%;
$percent-width: 100%;
$basic-color: #FFFFF;


.config {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}