.content {
  padding-top: 82px;
  height: 100vh;
  display: flex;

  .description {
    margin: $base-margin;
    padding: $base-padding;
    .myPhoto {
      .photoStyle {
        border-radius: 50%;
        margin: auto;
        width: 100%;
      }
    }
    .myDescription {
      height: 100%;
      .xxxx{
        margin: auto;
        width: 100%;
      }
    }
  }
}