@import "variables";

.content {
  padding-top: 58px;
  height: $base-height;
  display: flex;

  .description {
    margin: $base-margin;

    .myPhoto {
      .photoStyle {
        border-radius: 50%;
        margin: auto;
        margin-left: 120px;
        width: 75%;
      }
    }
    .myDescription {
      height: $percent-height;
      flex-flow: column;
      p{
        padding: 25px 5px 25px 5px;
      }
    }
  }
}