@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/font-awesome/css/font-awesome.css';
@import '../../node_modules/aos/dist/aos.css';
@import 'navbar';
@import 'variables';
@import 'content';
@import 'border';
@import 'life';
@import 'technology';
@import 'portfolio';
@import 'contacts.scss';
@import 'footer';

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}


